name: Release

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Get version
        id: ver
        run: echo "version=$(grep 'Version.*=' version.go | sed 's/.*"\(.*\)"/\1/')" >> $GITHUB_OUTPUT

      - name: Tag release
        run: |
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          git tag -a v${{ steps.ver.outputs.version }} -m "v${{ steps.ver.outputs.version }}"

      - uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
          tags: true

      - name: Build
        run: make release VERSION=${{ steps.ver.outputs.version }}

      - uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ steps.ver.outputs.version }}
          name: crtmon v${{ steps.ver.outputs.version }}
          generate_release_notes: true
          append_body: true
          body: |
            ## checksums
            ```
            $(cat build/checksums.txt)
            ```
          files: build/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
